In [17]:
import requests
from bs4 import BeautifulSoup

# Extracting stock data from webull.com

In [3]:
url=requests.get("https://www.webull.com/quote")

### Webull Financial LLC, commonly known as Webull, is a financial services company. It provides trading services for stocks, ETFs and other options

In [4]:
soup=BeautifulSoup(url.text,'html.parser')
results= soup.find_all('div',attrs={'class':'jss1hwexjh jss1xzvfe6 jss1xypxds jss1jhcjls'})

In [5]:
x=results[0].find_all('span')

In [6]:
records=[]
for i in results:
    Symbol=i.find('a').text
    All_price=i.find_all('span')
    Last_price=All_price[0].text
    Change=All_price[1].text
    change_percent=All_price[2].text
    records.append((Symbol,Last_price,Change,change_percent))

In [7]:
import pandas as pd
df_all=pd.DataFrame(records,columns=['Symbol',"Last_price","Change","change_percent"])

In [8]:
Ext_hours_Ranking=df_all[0:7]
Top_Gainers=df_all[7:14].reset_index(drop=True)
Top_Losers=df_all[14:21].reset_index(drop=True)
Most_active=df_all[21:29].reset_index(drop=True)

Investors at WeBull have access not just to the regular session (from 9:30 am until 4 pm, EST) but to extended hours as well.These extended hours stock are commnely called as Extended Hours Ranking

In [14]:
print("-"*10,"Extended Hours Ranking","-"*10)
Ext_hours_Ranking

---------- Extended Hours Ranking ----------

    Symbol Last_price   Change change_percent
0    CETXW     0.1801  +0.0101        +50.47%
1     CETX      2.080    +0.21        +23.08%
2  FMAC WS      1.920    -0.13        +22.92%
3    RCHGW     0.9901  +0.0001        +20.19%
4    ZGYHR     0.3649  -0.0351        +20.03%
5     USAT      12.26    +0.31        +19.25%
6     DSWL      3.600    -0.01        +16.67%

In [15]:
print("-"*10,"The Top Gainers in Trade","-"*10)
Top_Gainers

---------- The Top Gainers in Trade ----------

  Symbol Last_price Change change_percent
0  JUPWW      1.900  +1.08       +131.70%
1  XBIOW       5.85  +2.45        +72.06%
2   SPCB      2.240  +0.79        +54.48%
3   CLVS       7.86  +2.54        +47.74%
4   HOFV      4.000  +1.27        +46.52%
5   FHTX      16.12  +4.32        +36.61%
6   SNES      2.270  +0.59        +35.12%

In [16]:
print("-"*10,"The Top Losers in Trade","-"*10)
Top_Losers

---------- The Top Losers in Trade ----------

    Symbol Last_price   Change change_percent
0     IDRA      1.980    -3.23        -62.00%
1    MRACW      1.300    -0.39        -23.08%
2     NUZE      4.010    -1.09        -21.37%
3    ENTXW     0.5800  -0.1538        -20.95%
4  NGAB WS      1.510    -0.39        -20.53%
5    AMHCW      1.030    -0.25        -19.55%
6   TDW WS     0.4300  -0.1009        -19.01%

In [12]:
print("-"*10,"The Most Active Trade","-"*10)
Most_active

  Symbol Last_price Change change_percent
0   CLVS    331.76M  +2.54        +47.74%
1   SNDL    208.75M  +0.03         +2.05%
2   HOFV    201.62M  +1.27        +46.52%
3   AAPL    185.55M  -0.54         -0.45%
4    AMC    153.21M  -0.07         -0.50%
5   SPCB    145.70M  +0.79        +54.48%
6    ZOM    112.70M  +0.05         +2.38%